/*  your css code here. If applicable */
.yellow{
	background-color: yellow;
	border: solid 1px green;
}

/*  your css code here. If applicable */
.red{
	background-color: red;
	border: solid 1px black;
}

/*  your css code here. If applicable */
.green{
	background-color: green;
	border: solid 1px yellow;
}